name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      db:
        image: postgres:15-alpine
        env:
          POSTGRES_USER: kubsu
          POSTGRES_PASSWORD: kubsu
          POSTGRES_DB: kubsu
        ports:
          - 5432:5432
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Run simple check
        run: |
          cd docker
          pip install ".[test]"
          export DATABASE_URL=postgresql+psycopg://kubsu:kubsu@127.0.0.1:5432/kubsu
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          pytest tests

  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: |
          cd docker
          docker build -t myapp-test .

  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Server
        run: |
          # 1. Срочно инициализируем рантайм пользователя
          export XDG_RUNTIME_DIR=/run/user/$(id -u)
          # 2. Проверяем, запущен ли сервис подмана для этого пользователя
          systemctl --user enable --now podman.socket || true
          cd docker
          # 3. Полная очистка
          podman-compose -p docker down || true
          podman rm -f docker_app_1 docker_db_1 || true
          # 4. Запуск с явным указанием хоста
          podman-compose -p docker up -d --build
          # 5. ДАЕМ ВРЕМЯ И ПРОВЕРЯЕМ
          sleep 10
          podman ps
          ss -tulpn | grep 8074 || echo "ПОРТ ВСЕ ЕЩЕ НЕ СЛУШАЕТСЯ!"
