name: DeployApp

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Server
        run: |
          cd docker

          # podman stop --all
          # podman rm --all -f
          podman-compose down
          podman-compose -p docker up -d --build
